<!-- PADRE -->
<h1>Padre</h1>
<h3>Lista de pedidos:</h3>
<table>
    <tr>
        <td>ID pedido</td>
        <td>ID cliente</td>
        <td>Nombre cliente</td>
        <td>Total de productos</td>
        <td>precio total</td>
    </tr>
    <tr *ngFor="let p of lp">
        <td>{{p.id_pedido}}</td>
        <td>{{p.idCliente}}</td>
        <td>{{p.nombreCliente}}</td>
        <td>{{p.total}}</td>
        <td>{{p.precio}}</td>
    </tr>
</table>
<app-pedidos-form (newItemEvent)="addPedido($event)"></app-pedidos-form>
