<nav>
  <a routerLink="/interpolacion01" routerLinkActive="active">Interpolación</a>&nbsp;
  <a routerLink="/one-way02" routerLinkActive="active">One Way Binding</a>&nbsp;
  <a routerLink="/evento03" routerLinkActive="active">Evento</a>&nbsp;
  <a routerLink="/twoway04" routerLinkActive="active">Two Way Binding</a>&nbsp;
  <a routerLink="/servicio05" routerLinkActive="active">Servicio</a>&nbsp;
  <a routerLink="/directivas06" routerLinkActive="active">Directivas</a>&nbsp;
  <a routerLink="/padre-hijo-p" routerLinkActive="active">Padre Hijo P</a>&nbsp;
  <a routerLink="/hijo-padre-p" routerLinkActive="active">Padre Hijo H</a>&nbsp;
</nav>
<hr>

<router-outlet></router-outlet>
