<h1>Formulario</h1>
<div class="container">
  <div class="row">
  <div class="col"><label>ID Factura</label> <input type="text" [(ngModel)]="idFactura"></div>
  <div class="col"><label>ID Cliente</label> <input type="text" [(ngModel)]="idCliente" ></div>
  <div class="col"><label>Total Factura</label> <input type="number" [(ngModel)]="TotalFactura"></div>
  <div class="col"><label>IVA</label> <input type="number" [(ngModel)]="Iva"></div>
</div>
</div>
<div class="container text-center">
  <div class="row">
      <button (click)="addFactura()" class="btn btn-primary col">Añadir factura</button>
      <button (click)="deleteFactura()" class="btn btn-success col">Eliminar factura</button>
      <button (click)="updateFactura()" class="btn btn-secondary col">Modificar Factura</button>
  </div><br>

</div>

<table border="2" class="table">
  <tr>
    <th scope="col">ID Factura</th>
    <th scope="col">ID Cliente</th>
    <th scope="col">Total Factura</th>
    <th scope="col">IVA</th>
  </tr>
  <tr *ngFor="let f of devolverListaFacturas()">
    <td scope="row">{{f.idFactura}}</td>
    <td>{{f.idCliente}}</td>
    <td>{{f.TotalFactura}}</td>
    <td>{{f.Iva}}</td>
  </tr>
</table>
