<p>Uniones de tipo</p>
<p>Añadir un valor al array</p>
<p><input type="number" [(ngModel)]="ejemploNumber" /><button (click)="addNumber()">Añadir</button></p>
<p><input type="text" [(ngModel)]="ejemploString"><button (click)="addString()">Añadir</button></p>
<p>{{mostrar()}}</p>
<p>Cumpleaños</p>
<p>
  Dia: <input type="number" [(ngModel)]="diaCumple">
  Mes: <select [(ngModel)]="mes">
    <option *ngFor="let mes of meses" [ngValue]="meses">{{mes}}</option>
  </select>
  Año: <input type="number" [(ngModel)]="yearCumple">
  <button (click)="mostrarCumple()">Mostrar</button><br><br>
  <label>{{mostrarCumple()}}</label>
</p>



